<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Интернет магазин</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <strong>Главная</strong>
            </a>
            <a href="/Phone/List" class="navbar-brand d-flex align-items-center">
                <strong>Все телефоны</strong>
            </a>
            <a href="/Phone/List/smartphone" class="navbar-brand d-flex align-items-center">
                <strong>Смартфоны</strong>
            </a>
            <a href="/Phone/List/usualphone" class="navbar-brand d-flex align-items-center">
                <strong>Обычные телефоны</strong>
            </a>
            <a href="/StoreCart/" class="navbar-brand d-flex align-items-center">
                <strong>Корзина</strong>
            </a>
            <a class="navbar-brand d-flex align-items-center" asp-action="Logout" asp-controller="Account"><strong>Выход</strong></a>
        </div>
    </div>
    <div class="imgMainPage">
        
    </div>
    
    <div class="container mt-5">
        @RenderBody()
    </div>
    <nav class="navbar  navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="#">OAO Интернет магазин мобильных телефонов</a>
    </nav>
</body>
</html>
